#Gradle
.gradle/
build/
out/
classes/

#IDEA
.idea/
*.iml
*.ipr
*.iws

#vscode
.settings/
.vscode/
bin/
.classpath
.project

#fabric
run/
/remappedSrc/

crosshairmod_client.launch
crosshairmod_server.launch